/*Placeholder for the theme-structure, it is the general theme structure with the colors extracted into their own mixin*/
%theme-structure {
    overflow-x:hidden;

    .container-main {
        padding: 30px;
        border-radius: 10px;
        border-style: solid;
    }

    .picture {
        border-style: 2px solid;
        border-radius: 10px;
    }

    .invisible {
        visibility: hidden;
    }

    .fill-n-center {
        margin: 0px auto;
        width: 100%;
    }

    //vertical-center is based off the second answer http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css
    .vertical-center {
        display: flex;
        justify-content: center; // align horizontal
        align-items: center; // align vertical
    }

    //the rounded corners for the text area are based the accepted answer from http://stackoverflow.com/questions/26272350/rounded-corners-to-a-textarea */
    .rounded-textarea {
        width:100%;
        border-radius:10px;
        border: 3px solid transparent;
    }

    .rounded-textarea:focus {
        outline: none;
    }

    //pokemon part font, it will not change when theme changes
    .font-ubuntu-mono {
        font-family: 'Ubuntu Mono', ;
    }

    .font-small {
        font-size: 20px;
    }

    .font-medium {
        font-size: 28px;
    }

    .font-large {
        font-size: 44px;
    }

    .font-header {
        font-weight: 700;
        font-size: 60px;
    }

    .font-center {
        text-align: center;
    }

    .navbar {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 32px;    //enlarges the glyphicon links
    }

    .nav > li {
        padding-left: 15px;
        padding-right: 15px;
    }

    .dropdown-menu {
        padding-left: 5px;
        padding-right: 5px;
    }

    .dropdown-menu {
        text-align: center;
    }

    @media ( min-width:768px ) {
        .nav.navbar-nav {
            float: left;
        }

        .nav.navbar-nav {
            clear: left;
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            left: 50%;
            text-align: center;
        }

        .nav.navbar-nav > li {
            position: relative;
            right: 50%;
        }

        .nav.navbar-nav li {
            text-align: left
        }
    }

    //this fixes the multiple break hacked in the footer( which left three dots visible on the right side of the footer )
    .footer-break {
        margin-top: 1%;
    }

    //the vertical center class allows the footer text to be centered without the padding-top: 10px( which actually was very slightly off-centered if you measured it )
    .footer-left {
        float: left;
        text-align: left;
        width: 66.66666%;
    }

    .footer-right {
        float: left;
        text-align: right;
        width: 33.33333%;
    }
}

/*mixin for the colors, fonts, and background image*/
@mixin theme-specs( $primary, $secondary, $accent, $titleFont, $mainFont, $image ) {
    .subtle-pattern {
        background: url( $image ) repeat 0 0;
    }

    .font-title {
        font-family: $titleFont;
    }

    .font-main {
        font-family: $mainFont;
    }

    .color {
        color: $primary;
    }

    .color-border {
        border-color: $primary;
    }

    .container-main {
        background-color: $secondary;
        border-color: $primary;
    }

    .colored-link > a {
        color: $primary;
    }

    .colored-link > a:hover {
        color: $accent;
    }

    .accent-hover:hover {
        background-color: $accent;
    }

    .rounded-textarea {
        box-shadow: $primary;
    }

    .rounded-textarea:focus {
        background: $secondary;
    }

    .btn-color {
        background-color: $primary;
        color: $secondary;
        border-color: $secondary;
    }

    .btn-color:hover {
        background-color: $secondary;
        color: $primary;
        border-color: $primary;
    }

    //this is for when the input button is clicked in and held I found the correct pseudo selectors(for the :active:focus) at the verified answer for http://stackoverflow.com/questions/31379175/bootstrap-button-on-click-showing-default-colour
    .btn-color:active:focus {
        background-color: $primary;
        color: $secondary;
        border-color: $secondary;
    }

    .btn-color:focus {
        background-color: $primary;
        color: $secondary;
        border-color: $secondary;
    }

    .navbar {
        background-color: $primary;
    }

    .nav > li > a, .dropdown-menu > li > a {
        background-color: $primary;
        color: $secondary;
    }

    .nav > li > a:hover, .dropdown-menu > li > a:hover {
        background-color: $secondary;
        color: $primary;
    }

    .nav > li.active > a, .dropdown-menu > li.active > a {
        background-color: $secondary;
        color: $primary;
    }

    .nav > li.active > a:hover, .dropdown-menu > li.active > a:hover {
        background-color: $primary;
        color: $secondary;
    }

    .dropdown-menu {
        border-color: $primary;
        background-color: $primary;
    }
}
