/*Thanks to subtlepatterns.com for providing the background*/
$brown: #B34514;
$cream: #FFE1B8;
$grey: #808080;

/*This will make the subtle pattern repeat as the background for all pages*/
body 
{ 
    background: url(../images/old_map.png) repeat 0 0;
    overflow-x:hidden;  /*gets rid of bottom horizontal bar*/
}    
    
.brown
{
	color: $brown;
    border-color: $brown;
}

.container-main /*for some reason I cannot make borders around images or tables so I am going to use container-main for the table border*/
{
	padding: 30px;
	background-color: $cream;
	border-radius: 10px;
	border-color: $brown;
	border-style: solid;
}

.colored-link > a
{
    color: $brown;
}

.colored-link > a:hover
{
    color: $grey;
}

/*vertical-center is based off the second answer http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css */
.vertical-center
{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/*START OF MISC HOME CSS*/
.picture
{
    border-style: 2px solid;
    border-radius: 10px;
}

.invisible
{
    visiblity: hidden;
}

.fill-n-center
{
    margin: 0px auto;
    width: 100%;
}

.grey:hover
{
    background-color: $grey;
}
/*END OF MISC HOME CSS*/

/*START OF FONTS*/
.font-ubuntu
{
    font-family: 'Ubuntu', sans-serif;
}

.font-ubuntu-mono
{
    font-family: 'Ubuntu Mono';
}

.font-vollkorn
{
    font-family: 'Vollkorn', Georgia, Times, serif;
}

.font-small
{
    font-size: 20px;
}

.font-medium
{
    font-size: 28px;
}

.font-large
{
    font-size: 44px;
}

.font-header
{
    font-weight: 700;   /*if this is not here ubuntu:bold will not work for some reason and just be normal ubuntu*/
    font-size: 60px;
}

.font-center
{
    text-align: center;
}
/*END OF FONTS*/

/*START OF NAVBAR ELEMENTS*/
.navbar
{
	background-color: $brown;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    font-size: 32px;    /*enlarges the glyphicon links*/
}

.navbar .nav > li.active  > a	/*Change color of active navbar*/
{
    margin-left: 15px;
    margin-right: 15px;
	background-color: $cream;
	color: $brown;
}

.navbar .nav > li.active > a:hover	/*Change color of active navbar hover*/
{
    margin-left: 15px;
    margin-right: 15px;
	background-color: $brown;
	color: $cream;
}

.navbar .nav > li > a	/*Change color of nonactive navbar*/
{	
    margin-left: 15px;
    margin-right: 15px;
	background-color: $brown;
	color: $cream;
}

.navbar .nav > li > a:hover	/*Change color of nonactive navbar hover*/
{	
    margin-left: 15px;
    margin-right: 15px;
	background-color: $cream;
	color: $brown;
}
 
@media (min-width:768px) 
{ 
/* These center the navbar elements 
NOTE: I did grap this from stack overflow ages ago and I have tried to find where I got it to give credit for this project but I came up empty handed*/
	.nav.navbar-nav 
	{
		float: left;
	}
 
	.nav.navbar-nav 
	{
		clear: left;
		float: left;
		margin: 0;
		padding: 0;
		position: relative;
		left: 50%;
		text-align: center;
	}
	
	.nav.navbar-nav > li 
	{
		position: relative;
		right: 50%;
	}
	
	.nav.navbar-nav li 
	{
		text-align: left
	}
}
/*END OF NAVBAR ELEMENTS*/

/*START OF FOOTER*/
.footer
{
    position:absolute;
}

.footer-left
{
    padding-top: 10px;   /*psuedo vertically centers the "John Felen's Personal Website" in the footer*/
	color: $brown;
	float: left;
	text-align: left;
    width: 66.66666%;
}

.footer-right
{
	color: $brown;
	float: left;
    text-align: right;
    width: 33.33333%;
}
/*END OF FOOTER*/