/*!Thanks to subtlepatterns.com for providing the background*/
@import "generalized-structure";

.old-map {
    $brown: #B34514;
    $cream: #FFE1B8;
    $grey: #808080;

    @import url( https://fonts.googleapis.com/css?family=Ubuntu );
    $ubuntu: 'Ubuntu', sans-serif;
    @import url( https://fonts.googleapis.com/css?family=Vollkorn );
    $vollkorn: 'Vollkorn', Georgia, Times, serif;

    @extend %theme-structure;
    @include theme-specs( $brown, $cream, $grey, $ubuntu, $vollkorn, "../images/old-map.png" );
}

.billards-table {
    $black: #222224;
    $cueBallWhite: #F7E287;
    $purple: #57439A;
    
    @import url( https://fonts.googleapis.com/css?family=Kaushan+Script );
    $kaushanScript: 'Kaushan Script', cursive;
    @import url( https://fonts.googleapis.com/css?family=Special+Elite );
    $specialElite: 'Special Elite', cursive;

    @extend %theme-structure;
    @include theme-specs( $black, $cueBallWhite, $purple, $kaushanScript, $specialElite, "../images/billards-table.png" );
}

.pink-rice {
    $deepRed: #E2021D;
    $darkerWhite: #FAFAFC;
    $smoothBlue: #163C8D;

    @import url( https://fonts.googleapis.com/css?family=Lobster );
    $lobster: 'Lobster', cursive;
    @import url( https://fonts.googleapis.com/css?family=Droid+Serif );
    $droidSerif: 'Droid Serif', serif;

    @extend %theme-structure;
    @include theme-specs( $deepRed, $darkerWhite, $smoothBlue, $lobster, $droidSerif, "../images/pink-rice.png" );
}

.picnic {
    $deepBlue: #315481;
    $greyWhite: #DDDDDD;
    $wildSalmon: #FF5016;

    @import url( https://fonts.googleapis.com/css?family=Raleway );
    $raleway: 'Raleway', sans-serif;
    @import url( https://fonts.googleapis.com/css?family=Open+Sans );
    $openSans: 'Open Sans', sans-serif;

    @extend %theme-structure;
    @include theme-specs( $deepBlue, $greyWhite, $wildSalmon, $raleway, $openSans, "../images/picnic.png" );
}

.stardust {
    $lightGrey: #A2A1A7;
    $darkGrey: #444349;
    $goldenSun: #FCF308;

    @import url( https://fonts.googleapis.com/css?family=Montserrat );
    $montserrat: 'Montserrat', sans-serif;
    @import url( https://fonts.googleapis.com/css?family=Source+Sans+Pro );
    $sourceSansPro: 'Source Sans Pro', sans-serif;

    @extend %theme-structure;
    @include theme-specs( $lightGrey, $darkGrey, $goldenSun, $montserrat, $sourceSansPro, "../images/stardust.png" );
}
