/*Thanks to subtlepatterns.com for providing the background*/
@import "generalized-structure";

html.old-map {
    $brown: #B34514;
    $cream: #FFE1B8;
    $grey: #808080;

    @import url( https://fonts.googleapis.com/css?family=Ubuntu );
    $ubuntu: 'Ubuntu', sans-serif;
    @import url( https://fonts.googleapis.com/css?family=Vollkorn );
    $vollkorn: 'Vollkorn', Georgia, Times, serif;

    @extend %theme-structure;
    @include theme-specs( $brown, $cream, $grey, $ubuntu, $vollkorn, "../images/old-map.png" );
}

// html.billards-table {
//
//     @extend %theme-structure;
//     @include theme-specs( , , , , "../images/billards-table.png" );
// }
//
// html.pink-rice {
//
//     @extend %theme-structure;
//     @include theme-specs( , , , , "../images/pink-rice.png" );
// }
//
// html.picnic {
//
//     @extend %theme-structure;
//     @include theme-specs( , , , , "../images/picnic.png" );
// }
//
// html.stardust {
//
//     @extend %theme-structure;
//     @include theme-specs( , , , , "../images/stardust.png" );
// }
