/*!Thanks to subtlepatterns.com for providing the background*/
//NOTE: fonts must be imported at the top of the css file( Google Fonts does not tell you this and also you must put the @import url in quotes not in a function call like Google Fonts tells you to do )
//favicons are font-awesome icons transformed into favicons from http://paulferrett.com/fontawesome-favicon/
@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://fonts.googleapis.com/css?family=Pacifico";
@import "https://fonts.googleapis.com/css?family=Arimo";
@import "https://fonts.googleapis.com/css?family=Ubuntu";
@import "https://fonts.googleapis.com/css?family=Vollkorn";
@import "https://fonts.googleapis.com/css?family=Lobster";
@import "https://fonts.googleapis.com/css?family=Droid+Serif";
@import "https://fonts.googleapis.com/css?family=Kaushan+Script";
@import "https://fonts.googleapis.com/css?family=Merriweather";
@import "https://fonts.googleapis.com/css?family=Amatic+SC";
@import "https://fonts.googleapis.com/css?family=Andika";
@import "https://fonts.googleapis.com/css?family=Josefin+Slab";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans";
@import "https://fonts.googleapis.com/css?family=Sacramento";
@import "https://fonts.googleapis.com/css?family=Alice";
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";
@import "https://fonts.googleapis.com/css?family=Rancho";
@import "https://fonts.googleapis.com/css?family=Gudea";

@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono";  //pokemon font, so not used in this file
@import "structure";
@import "specifications";
@import "animations";

.picnic-blanket {
    $deepBlue: #315481;
    $greyWhite: #DDDDDD;
    $wildSalmon: #FF5016;

    $raleway: 'Raleway', sans-serif;
    $openSans: 'Open Sans', sans-serif;

    @extend %structure;
    @include specifications( $deepBlue, $greyWhite, $wildSalmon, $raleway, $openSans, "../images/picnic_blanket/picnic-blanket.png" );
    @extend %animations;
}

.sunrise {
    $paleBlue: #77A8AF;
    $paleYellow: #FFFFCF;
    $paleOrange: #FFAB3B;

    $pacifico: 'Pacifico', cursive;
    $arimo: 'Arimo', sans-serif;

    @extend %structure;
    @include specifications( $paleBlue, $paleYellow, $paleOrange, $pacifico, $arimo, "../images/sunrise/sunrise.png" );
    @extend %animations;
}

.billards-table {
    $black: #222224;
    $cueBallWhite: #F7E287;
    $purple: #57439A;

    $ubuntu: 'Ubuntu', sans-serif;
    $vollkorn: 'Vollkorn', Georgia, Times, serif;

    @extend %structure;
    @include specifications( $black, $cueBallWhite, $purple, $ubuntu, $vollkorn, "../images/billards_table/billards-table.png" );
    @extend %animations;
}

.candy-cane {
    $deepRed: #E2021D;
    $darkerWhite: #FAFAFC;
    $smoothBlue: #163C8D;

    $lobster: 'Lobster', cursive;
    $droidSerif: 'Droid Serif', serif;

    @extend %structure;
    @include specifications( $deepRed, $darkerWhite, $smoothBlue, $lobster, $droidSerif, "../images/candy_cane/candy-cane.png" );
    @extend %animations;
}

.cartography {
    $brown: #B34514;
    $cream: #FFE1B8;
    $greyBlue: #92A997;

    $kaushanScript: 'Kaushan Script', cursive;
    $merriweather: 'Merriweather', serif;

    @extend %structure;
    @include specifications( $brown, $cream, $greyBlue, $kaushanScript, $merriweather, "../images/cartography/cartography.png" );
    @extend %animations;
}

.grandmas-house {
    $almostWhite: #FFFFFF;
    $darkPurple: #805ED5;
    $palePink: #ED77CC;

    $amaticSC: 'Amatic SC', cursive;
    $andika: 'Andika', sans-serif;

    @extend %structure;
    @include specifications( $almostWhite, $darkPurple, $palePink, $amaticSC, $andika, "../images/grandmas_house/grandmas-house.png" );
    @extend %animations;
}

.golf-argyle {
    $blueIndigo: #171F67;
    $paleGreen: #67D977;
    $khaki: #F0E68C;

    $josefinSlab: 'Josefin Slab', serif;
    $josefinSans: 'Josefin Sans', sans-serif;

    @extend %structure;
    @include specifications( $blueIndigo, $paleGreen, $khaki, $josefinSlab, $josefinSans, "../images/golf_argyle/golf-argyle.png" );
    @extend %animations;
}

.wheat-field {
    $lightGrey: #AF5A0D;
    $darkGrey: #FCD609;
    $goldenSun: #64A456;

    $sacramento: 'Sacramento', cursive;
    $alice: 'Alice', serif;

    @extend %structure;
    @include specifications( $lightGrey, $darkGrey, $goldenSun, $sacramento, $alice, "../images/wheat_field/wheat-field.png" );
    @extend %animations;
}

.stardust {
    $lightGrey: #A2A1A7;
    $darkGrey: #444349;
    $goldenSun: #FCF308;

    $montserrat: 'Montserrat', sans-serif;
    $sourceSansPro: 'Source Sans Pro', sans-serif;

    @extend %structure;
    @include specifications( $lightGrey, $darkGrey, $goldenSun, $montserrat, $sourceSansPro, "../images/stardust/stardust.png" );
    @extend %animations;
}

.chinese-new-year {
    $moneyGreen: #1AA41A;
    $royalYellow: #ffEE00;
    $dragonRed: #E62B1A;

    $rancho: 'Rancho', cursive;
    $gudea: 'Gudea', sans-serif;

    @extend %structure;
    @include specifications( $moneyGreen, $royalYellow, $dragonRed, $rancho, $gudea, "../images/chinese_new_year/chinese-new-year.png" );
    @extend %animations;
}
