/*animiations for all the web page and transition between them*/
%animations {
    @keyframes shadow {
        from {
            box-shadow: 0px 5px 10px 5px rgba( 0, 0, 0, 0.35 );
        }
        to {
            box-shadow: 0px 60px 35px 15px rgba( 0, 0, 0, 0.25 );
        }
    }

    %shadow-animation {
        animation-name: shadow;
        animation-timing-function: linear;
        animation-duration: 200ms;
    }

    .shadow-start {
        @extend %shadow-animation;
    }

    .shadow-end {
        @extend %shadow-animation;
        animation-direction: reverse;
    }

    //based off of https://davidwalsh.name/background-animation-css, sort of looks like the animation in the background of a video game title/selection screen
    @keyframes title-screen {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 500000px 500000px;
        }
    }

    //the 500000px and 20000000ms were educated guessed but it looks like a smooth animation, it runs for 333 minutes and 20 seconds, however the iteration-count is already infinite so that runtime does not matter, futhermore it will take 333.33 minutes to see a possible stuttering when the animation restarts and the pixels( not percentage ) and duration allow the form and background to have the smae speed of animation and look clean
    #name, #email, #message, body {
        animation-name: title-screen;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 20000000ms;
    }

    .fa-3d-icon {
        animation-name: video-game-collectable;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 4s;
    }

    //the video game collectable is based off of http://codepen.io/PageOnline/pen/EvGrl?editors=1100
    @keyframes video-game-collectable {
     	0% {
    		 text-shadow: 0px 1px;
    		 transform: rotateY( 0deg );
    	}
    	25% {
            text-shadow: -1px 1px 1px, -2px 1px 1px, -3px 1px 1px, -4px 1px 1px;
    		transform: rotateY( -50deg );
    	}
    	50% {
    		 text-shadow: 0px 1px;
    		 transform: rotateY( 0deg );
    	}
    	75% {
    		 text-shadow: 1px 1px 1px, 2px 1px 1px, 3px 1px 1px, 4px 1px 1px;
    		 transform: rotateY( 50deg );
    	}
    	100% {
    		 text-shadow: 0px 1px;
    		 transform: rotateY( 0deg );
    	}
    }

    .navbar-animation > a {
        transition: 0.5s linear;
        > i {   //this inner i child is so that the color changes only when the link is moving up/already up
            transition: 0.5s linear;
        }
    }

    .navbar-animation > a:hover {
        transform: translateY( -10px );
    }

    %animation-constants {
        animation-iteration-count: 1;
        animation-duration: 2000ms;
        animation-timing-function: ease-in-out;
    }

    //falling is for the navbar transition between pages, it also has the shadow animation so the shadow is shown when the navbar is not on the page a la the autohiding navbar
    @keyframes falling {
        0% {
            transform: translateY( 0% );
        }
        50% {
            transform: translateY( -100% );
        }
        100% {
            transform: translateY( 0% );
        }
    }

    .falling {
        animation-name: shadow, shadow, falling;
        animation-direction: normal, reverse, normal;
        @extend %animation-constants;
        animation-duration: 1000ms, 1000ms, 2000ms;
        animation-delay: 0ms, 1000ms, 0ms;
    }

    .falling-start {
        animation-name: shadow, falling;
        animation-direction: reverse, normal;
        @extend %animation-constants;
        animation-duration: 1000ms, 2000ms;
        animation-delay: 0ms, -1000ms;
    }

    //climbing is for the footer transitions between pages
    @keyframes climbing {
        0% {
            transform: translateY( 0% );
        }
        50% {
            transform: translateY( 100% );
        }
        100% {
            transform: translateY( 0% );
        }
    }

    .climbing {
        animation-name: climbing;
        @extend %animation-constants;
    }

    .climbing-start {
        animation-name: climbing;
        @extend %animation-constants;
        animation-delay: -1000ms;
    }

    //panning is for the header and the main container transitions between pages
    @keyframes pan-left {
        0% {
            transform: translateX( 0% );
        }
        50% {
            transform: translateX( calc( -100% * 13/12 ) );
        }
        100% {
            transform: translateX( 0% );
        }
    }

    .pan-left {
        animation-name: pan-left;
        @extend %animation-constants;
    }

    .pan-left-start {
        animation-name: pan-left;
        @extend %animation-constants;
        animation-delay: -1000ms;
    }

    @keyframes pan-right {
        0% {
            transform: translateX( 0% );
        }
        50% {
            transform: translateX( calc( 100% * 13/12 ) );
        }
        100% {
            transform: translateX( 0% );
        }
    }

    .pan-right {
        animation-name: pan-right;
        @extend %animation-constants;
    }

    .pan-right-start {
        animation-name: pan-right;
        @extend %animation-constants;
        animation-delay: -1000ms;
    }

    //struggle is for when the click the link that is the same page as the current page
    @keyframes struggling {
        0% {
            transform: translateX( 0% );
        }
        20% {
            transform: translateX( calc( -100% * 1/12 ) );
        }
        40% {
            transform: translateX( calc( 100% * 1/12 ) );
        }
        60% {
            transform: translateX( calc( -100% * 1/12 ) );
        }
        80% {
            transform: translateX( calc( 100% * 1/12 ));
        }
        100% {
            transform: translateX( 0% );
        }
    }

    %struggle-constants {
        animation-name: struggling;
        animation-iteration-count: 1;
        animation-duration: 1000ms;
    }

    .struggle-left {
        @extend %struggle-constants;
        animation-timing-function: ease-in;
    }

    .struggle-right {
        @extend %struggle-constants;
        animation-direction: reverse;
        animation-timing-function: ease-out;
    }

    //dropdown css fade in animation
    .open > .dropdown-menu-animate {
        opacity: 1;
    }

    .dropdown-menu-animate {
        opacity: 0;
        transition: 0.5s linear;
    }
}
