//normal binary representation of the file, these are just links to the file locations
$picnic-blanket-i: url( "../images/picnic_blanket_i/picnic-blanket-i.png" );
$sunrise: url( "../images/sunrise/sunrise.png" );
$billards-table: url( "../images/billards_table/billards-table.png" );
$candy-cane: url( "../images/candy_cane/candy-cane.png" );
$cartography: url( "../images/cartography/cartography.png" );
$grandmas-house: url( "../images/grandmas_house/grandmas-house.png" );
$picnic-blanket-ii: url( "../images/picnic_blanket_ii/picnic-blanket-ii.png" );
$playstation: url( "../images/playstation/playstation.png" );
$stardust: url( "../images/stardust/stardust.png" );
$fourth-of-july: url( "../images/fourth_of_july/fourth-of-july.png" );
@import "structure";
@import "specifications";
@import "animations";
@import "themes";
