/*Placeholder for the theme-structure, it is the general theme structure with the colors extracted into their own mixin*/
%structure {
    overflow-x: hidden;

    h1 {    //allows the header text to look center
        margin-top: 10px;
    }

    hr {
        height: 8px;
        border-width: 2.5px;
        border-style: solid;
    }

    hr:nth-of-type( 2n - 1 ) {
        margin-bottom: 7.5;
    }

    hr:nth-of-type( 2n ) {
        margin-top: 7.5;
    }

    .shadow {
        box-shadow: 0px 25px 35px 15px rgba( 0, 0, 0, 0.25 );
    }

    .container-main {
        padding: 30px;
        border-radius: 10px;
        border-style: solid;
    }

    #picture-of-me {
        border-style: 2px solid;
        border-radius: 10px;
        width: 100%;
        opacity: 0;
    }

    blink, .select-name {
        visibility: hidden;
    }

    .fill-n-center {
        margin: 0px auto;
        width: 100%;
    }

    //vertical-center is based off the second answer http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css
    .vertical-center {
        display: flex;
        justify-content: center; // align horizontal
        align-items: center; // align vertical
    }

    .center-textarea-error {
        margin-top: 12px;
    }

    .form-group {
        margin-bottom: 0px;
    }

    //the rounded corners for the text area are based the accepted answer from http://stackoverflow.com/questions/26272350/rounded-corners-to-a-textarea */
    %rounded-textarea {
        width:100%;
        border-radius:10px;
        border: 3px solid transparent;
    }

    %rounded-textarea:focus {
        outline: none;
    }

    .rounded-textarea-small {
        @extend %rounded-textarea;
        resize: none;
    }

    .rounded-textarea-large {
        @extend %rounded-textarea;
        resize: vertical;
    }

    //pokemon part font, it will not change when theme changes
    .font-ubuntu-mono {
        font-family: 'Ubuntu Mono', ;
    }

    .font-small {
        font-size: 20px;
    }

    .font-medium {
        font-size: 28px;
    }

    .font-large {
        font-size: 44px;
    }

    .font-header {
        font-weight: 700;
        font-size: 60px;
    }

    .font-footer {
        font-size: 25px;
    }

    .font-center {
        text-align: center;
    }

    .font-left {
        text-align: left;
    }

    .font-right {
        text-align: right;
    }

    .navbar {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 32px;    //enlarges the glyphicon links
    }

    #main-nav > div > ul > li {
        margin-left: 15px;
        margin-right: 15px;
    }

    .dropdown-menu {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .dropdown {
        display: inline-block;
    }

    //this class allows the navbar to be the same width as the rest of the main items on the page, the navbar-fixed-top ignores the grid based system of bootstrap so I have to give it a numerical width, it is based off off of http://stackoverflow.com/questions/17533106/bootstrap-div-class-navbar-navbar-fixed-top
    .auto-show-navbar {
        width: ( 10 / 12 ) * 100%;
        margin: 0 auto;
    }

    //this centers the navbar elements whenthe screen is a non mobile size, based on some stack overflow that I found long ago but can't find anymore
    @media( min-width: 768px ) {
        .nav.navbar-nav {
            float: left;
        }

        .nav.navbar-nav {
            clear: left;
            float: left;
            position: relative;
            left: 50%;
            text-align: center;
        }

        .nav.navbar-nav > li {
            position: relative;
            right: 50%;
        }

        .nav.navbar-nav li {
            text-align: left;
        }
    }

    //the padding is so that the navbar-fixed-top does not cover the header, based on the second answer here http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site
    body.fixed-navbar-padding {
        padding-top: 62px;
    }

    @media( max-width: 768px ) {
        body.fixed-navbar-padding {
            padding-top: 224px;
        }
    }

    //when 75% of 1080p rotate portfolio titles 90 degrees, when the screen is minimized a lot the longer titles( with more spaces ) will overflow but not noticeable to most people
    @media( max-width: 1440px ) {
        .rotate {
            transform: rotate( -90deg );
        }
    }

    //allows hover to enable drop downs, from http://www.joostrap.com/support/tutorials-videos/202-how-to-enable-hover-for-nav-dropdowns
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .footer-margin-left {
        margin-left: 0.5em;
    }

    .footer-margin-right {
        margin-right: 0.5em;
    }

    #sort-buttons > li {
        padding-left: 15px;
        padding-right: 15px;
    }
}
