/*!Thanks to subtlepatterns.com for providing the background*/
//favicons are font-awesome icons transformed into favicons from http://paulferrett.com/fontawesome-favicon/
.picnic-blanket {
    $deepBlue: #315481;
    $greyWhite: #DDDDDD;
    $wildSalmon: #FF5016;

    $raleway: 'Raleway', sans-serif;
    $openSans: 'Open Sans', sans-serif;

    @extend %structure;
    @include specifications( $deepBlue, $greyWhite, $wildSalmon, $raleway, $openSans, $picnic-blanket );
    @extend %animations;
}

.sunrise {
    $paleBlue: #77A8AF;
    $paleYellow: #FFFFCF;
    $paleOrange: #FFAB3B;

    $pacifico: 'Pacifico', cursive;
    $arimo: 'Arimo', sans-serif;

    @extend %structure;
    @include specifications( $paleBlue, $paleYellow, $paleOrange, $pacifico, $arimo, $sunrise );
    @extend %animations;
}

.billards-table {
    $black: #222224;
    $cueBallWhite: #F7E287;
    $purple: #57439A;

    $ubuntu: 'Ubuntu', sans-serif;
    $vollkorn: 'Vollkorn', Georgia, Times, serif;

    @extend %structure;
    @include specifications( $black, $cueBallWhite, $purple, $ubuntu, $vollkorn, $billards-table );
    @extend %animations;
}

.candy-cane {
    $deepRed: #E2021D;
    $darkerWhite: #FAFAFC;
    $smoothBlue: #163C8D;

    $lobster: 'Lobster', cursive;
    $droidSerif: 'Droid Serif', serif;

    @extend %structure;
    @include specifications( $deepRed, $darkerWhite, $smoothBlue, $lobster, $droidSerif, $candy-cane );
    @extend %animations;
}

.cartography {
    $brown: #B34514;
    $cream: #FFE1B8;
    $greyBlue: #92A997;

    $kaushanScript: 'Kaushan Script', cursive;
    $merriweather: 'Merriweather', serif;

    @extend %structure;
    @include specifications( $brown, $cream, $greyBlue, $kaushanScript, $merriweather, $cartography );
    @extend %animations;
}

.grandmas-house {
    $almostWhite: #FFFFFF;
    $darkPurple: #805ED5;
    $palePink: #ED77CC;

    $amaticSC: 'Amatic SC', cursive;
    $andika: 'Andika', sans-serif;

    @extend %structure;
    @include specifications( $almostWhite, $darkPurple, $palePink, $amaticSC, $andika, $grandmas-house );
    @extend %animations;
}

.golf-argyle {
    $blueIndigo: #171F67;
    $paleGreen: #67D977;
    $khaki: #F0E68C;

    $josefinSlab: 'Josefin Slab', serif;
    $josefinSans: 'Josefin Sans', sans-serif;

    @extend %structure;
    @include specifications( $blueIndigo, $paleGreen, $khaki, $josefinSlab, $josefinSans, $golf-argyle );
    @extend %animations;
}

.wheat-field {
    $lightGrey: #AF5A0D;
    $darkGrey: #FCD609;
    $goldenSun: #64A456;

    $sacramento: 'Sacramento', cursive;
    $alice: 'Alice', serif;

    @extend %structure;
    @include specifications( $lightGrey, $darkGrey, $goldenSun, $sacramento, $alice, $wheat-field );
    @extend %animations;
}

.stardust {
    $lightGrey: #A2A1A7;
    $darkGrey: #444349;
    $goldenSun: #FCF308;

    $montserrat: 'Montserrat', sans-serif;
    $sourceSansPro: 'Source Sans Pro', sans-serif;

    @extend %structure;
    @include specifications( $lightGrey, $darkGrey, $goldenSun, $montserrat, $sourceSansPro, $stardust );
    @extend %animations;
}

.chinese-new-year {
    $moneyGreen: #1AA41A;
    $royalYellow: #ffEE00;
    $dragonRed: #E62B1A;

    $rancho: 'Rancho', cursive;
    $gudea: 'Gudea', sans-serif;

    @extend %structure;
    @include specifications( $moneyGreen, $royalYellow, $dragonRed, $rancho, $gudea, $chinese-new-year );
    @extend %animations;
}
