/*Thanks to subtlepatterns.com for providing the background*/
body {
  overflow-x: hidden;
  /*gets rid of bottom horizontal bar*/ }

.bg-map {
  background: url("../images/old-map.png") repeat 0 0;
  /*This will make the subtle pattern repeat as the background*/ }

.brown {
  color: #B34514;
  border-color: #B34514; }

.container-main {
  padding: 30px;
  background-color: #FFE1B8;
  border-radius: 10px;
  border-color: #B34514;
  border-style: solid; }

.colored-link > a {
  color: #B34514; }

.colored-link > a:hover {
  color: #808080; }

/*START OF MISC HOME CSS*/
.picture {
  border-style: 2px solid;
  border-radius: 10px; }

.invisible {
  visiblity: hidden; }

.fill-n-center {
  margin: 0px auto;
  width: 100%; }

.grey:hover {
  background-color: #808080; }

/*END OF MISC HOME CSS*/
/*START OF MISC PORTFOLIO*/
/*vertical-center is based off the second answer http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css */
.vertical-center {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */ }

/*END OF MISC PORTFOLIO*/
/*START OF MISC CONTACT*/
/*The rounded corners for the text area are based the accepted answer from http://stackoverflow.com/questions/26272350/rounded-corners-to-a-textarea */
.rounded-textarea {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #B34514;
  border: 3px solid transparent; }

.rounded-textarea:focus {
  background: #FFE1B8;
  outline: none; }

.btn-brown {
  background-color: #B34514;
  color: #FFE1B8;
  border-color: #FFE1B8; }

.btn-brown:hover {
  background-color: #FFE1B8;
  color: #B34514;
  border-color: #B34514; }

/* This is for when the input button is clicked in and held I found the correct pseudo selectors(for the :active:focus) at the verified answer for http://stackoverflow.com/questions/31379175/bootstrap-button-on-click-showing-default-colour */
.btn-brown:active:focus {
  background-color: #B34514;
  color: #FFE1B8;
  border-color: #FFE1B8; }

.btn-brown:focus {
  background-color: #B34514;
  color: #FFE1B8;
  border-color: #FFE1B8; }

/*END OF MISC CONTACT*/
/*START OF FONTS*/
.font-ubuntu {
  font-family: 'Ubuntu', sans-serif; }

.font-ubuntu-mono {
  font-family: 'Ubuntu Mono'; }

.font-vollkorn {
  font-family: 'Vollkorn', Georgia, Times, serif; }

.font-small {
  font-size: 20px; }

.font-medium {
  font-size: 28px; }

.font-large {
  font-size: 44px; }

.font-header {
  font-weight: 700;
  /*if this is not here ubuntu:bold will not work for some reason and just be normal ubuntu*/
  font-size: 60px; }

.font-center {
  text-align: center; }

/*END OF FONTS*/
/*START OF NAVBAR ELEMENTS*/
.navbar {
  background-color: #B34514;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 32px;
  /*enlarges the glyphicon links*/ }

.nav > li.active > a {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #FFE1B8;
  color: #B34514; }

.nav > li.active > a:hover {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #B34514;
  color: #FFE1B8; }

.nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #B34514;
  color: #FFE1B8; }

.nav > li > a:hover {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #FFE1B8;
  color: #B34514; }

@media (min-width: 768px) {
  /* These center the main navbar elements 
  NOTE: I did grab this from stack overflow ages ago and I have tried to find where I got it to give credit for this project but I came up empty handed*/
  .nav.navbar-nav {
    float: left; }

  .nav.navbar-nav {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center; }

  .nav.navbar-nav > li {
    position: relative;
    right: 50%; }

  .nav.navbar-nav li {
    text-align: left; } }
/*END OF NAVBAR ELEMENTS*/
/*START OF FOOTER*/
.footer {
  position: absolute; }

.footer-left {
  padding-top: 10px;
  /*psuedo vertically centers the "John Felen's Personal Website" in the footer*/
  color: #B34514;
  float: left;
  text-align: left;
  width: 66.66666%; }

.footer-right {
  color: #B34514;
  float: left;
  text-align: right;
  width: 33.33333%; }

/*END OF FOOTER*/

/*# sourceMappingURL=personalstyle.css.map */
